{% extends "base.html" %}
{% block custom_head_title %}
    Reset Form
{% endblock %}

{% block custom_body_heading %}
    Reset Account OTP
{% endblock %}

{% block form_content %}
    {{ form.input_username(autocomplete="off", class_="form-control mt-2", autofocus="true", placeholder="firstname.surname") }}
    {{ form.input_phone_number(autocomplete="off", class_="form-control mt-2", placeholder="5XX (10 Digit)") }}
    <button id="sendSmsButton" class="btn btn-lg btn-primary btn-block mt-4" type="submit">Send SMS</button>
{% endblock %}