<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>
</head>
<body>

<form action="" method="post">

    {{ form.csrf_token }}

    {{ form.input_username(autocomplete="off", autofocus="true", placeholder="name.surname") }}
    {{ form.input_phone_number(autocomplete="off", placeholder="5XX (10 Digit)") }}
    <button id="sendSmsButton" type="submit">Send SMS</button>

</form>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

</body>
</html>